<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>22787447869-b67hbeft6j1pi8n0r7hr3qq948tb4oa0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22787447869-b67hbeft6j1pi8n0r7hr3qq948tb4oa0</string>
	<key>API_KEY</key>
	<string>AIzaSyDFhQrjPo3X1p8yf_O-BezRiX0iFforaxo</string>
	<key>GCM_SENDER_ID</key>
	<string>22787447869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseTodoV2</string>
	<key>PROJECT_ID</key>
	<string>to-do-flutter-v2</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-flutter-v2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22787447869:ios:9915816e3bf731e0a65e54</string>
</dict>
</plist>